openapi: 3.0.3
info:
  title: FOREX.com REST Account Margin API
  description: The FOREX.com REST API, hosted at ciapi.cityindex.com/TradingAPI, enables algorithmic traders to authenticate sessions, retrieve real-time and historical price data, execute buy/sell orders across 80+ forex and CFD markets, and manage account balances, positions, and order history programmatically. Authentication uses a session-based header credential obtained from the /session endpoint. A separate FIX API is available for institutional clients.
  version: 1.0.0
  contact:
    name: FOREX.com API Support
    url: https://www.forex.com/en/help-and-support/
    email: support.en@forex.com
  termsOfService: https://www.forex.com/en-us/help-and-support/pricing-and-fees/
  x-api-id: forex-com-trading-api
  x-logo:
    url: https://www.forex.com/favicon.ico
servers:
- url: https://ciapi.cityindex.com/TradingAPI
  description: FOREX.com REST API Base URL
security:
- SessionAuth: []
  UserNameAuth: []
tags:
- name: Margin
  description: Account margin and cash balance
paths:
  /margin/ClientAccountMargin:
    get:
      operationId: getClientAccountMargin
      summary: Get client account margin information
      description: Retrieve trading account margin information including cash balance, margin used, and available margin for the authenticated account.
      tags:
      - Margin
      responses:
        '200':
          description: Margin information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginResponse'
components:
  schemas:
    MarginResponse:
      type: object
      properties:
        Cash:
          type: number
          format: double
          description: Cash balance
        TradeableFunds:
          type: number
          format: double
        PendingFunds:
          type: number
          format: double
        TradingMargin:
          type: number
          format: double
        NetEquity:
          type: number
          format: double
        OpenTradeEquity:
          type: number
          format: double
        TotalMarginRequirement:
          type: number
          format: double
  securitySchemes:
    SessionAuth:
      type: apiKey
      in: header
      name: Session
      description: Session ID obtained from POST /session
    UserNameAuth:
      type: apiKey
      in: header
      name: UserName
      description: FOREX.com account username
externalDocs:
  description: FOREX.com API Trading Documentation
  url: https://www.forex.com/en/trading-tools/api-trading/
